.img-effect-box{
    position: relative;
    top: 0;
    left: 0;
}

.hero-img{
    position: absolute;
    top: 140px;
    left: 0;
    width:100%;
    height:700px;
    transform: scale(1, 1.2);
    z-index: -1;
}
.hero-blur{
    position: absolute;
    top: 21.5em;
    right: 0;
    transform: scale(1.6, 1.15);
}